extends layout

block content
  h1 All Requirements 
  ul
    each req in requirements
      li 
        a(href= "./" + req.id)
          h3 #{req.title} 
            span 
              em #{req.status}
        p #{req.description}
        
